Options +FollowSymLinks
RewriteEngine On

# Excluir archivos estáticos como CSS, JS, imágenes, etc., de la redirección
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]